body {
    background-color: #EFEFEF;
}
.center {
    margin: auto;
    border: 3px solid #A9A9A9;
    border-radius: 5px;
    text-align: center;
}
h1 {
    color: #A9A9A9;
	font-family: Franklin Gothic Medium; 
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button1 {
    background-color: #CD1C1C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: Franklin Gothic Medium; 
	padding: 15px 32px;
	border-radius: 4px;
    margin-top:10px;
    margin-bottom: 20px;
}
.button1:hover {
    background-color: #e64747;
}
.button2 {
    background-color: #CD1C1C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-family: Franklin Gothic Medium; 
	padding: 3px 10px;
	border-radius: 4px;
    margin-top: 10px;
}
.button2:hover {
    background-color: #e64747;
}
.container-fluid {
    background-color: #EFEFEF;
}
.container-table {
    display: table;
    margin: 0 auto;
}
.vertical-center-row {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh;
  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
          margin-top:-150px;
}


/*
Button 1 is large button, seen on main page
Button 2 is a smaller button, used for the login button

Colors:
#A9A9A9 is dark grey
#EFEFEF is light grey
#CD1C1C is the red from the logo
#f08f8f is lightened red from logo for hovering
change as needed
*/