<!DOCTYPE html>
<html>
<head>
  <title>Casso Security - Contact Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='casso.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">

  <style>
  body {
    background-color: #460000;
  }
  </style>

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Casso Security</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/example">Try it Out</a></li>
      <li><a href="/pricing">Pricing</a></li> 
      <li class="active"><a href="/contact">Contact Us</a></li> 
    </ul>
  </div>
</nav>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
    		<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
          <div class="panel panel-default">
            <div class="panel-heading">Contact Us</div>
            <div class="panel-body">
              <form role="form">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname">
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="url">Website URL</label>
              <input type="text" class="form-control" id="url">
            </div>
            <div class="form-group">
              <label for="useramt">Amount of users on your website</label>
              <input type="text" class="form-control" id="useramt">
            </div>
            <div class="form-group">
              <label for="msg">Optional Message</label>
              <textarea class="form-control" id="msg" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>