<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
				bootstrap code commented out, possible migration later-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='casso.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<style>
		.topspace {
			margin-top: 40px;
		}
		#username_confirmed{
			padding-right: 40px;
		}
		</style>
	</head>
	<body>
		<div class="center" style="width:500px;margin-top:30px;">
			<img src="{{ url_for('static', filename='logo_small.png') }}" alt="Casso Logo" style="width:200px;height:200px;">
			<h1>Lorem ipsum dolor sit amet, ea his intellegat voluptatum consectetuer, eos nihil legimus mediocrem te. No eam aeque probatus, duo habeo debet id, ut stet mediocritatem eam. Veri elitr ut usu, oblique democritum repudiandae has no. Eum eu purto dicunt persecuti, et per odio apeirian assueverit.</h1>
			  <button class="button1" id="btn_click">View a Demo</button>
				<script>
				$('#btn_click').on('click', function() { window.location = '/example'; });
				</script>
		<p id="information"></p>
		</div>
	</body>
</html>