<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
				bootstrap code commented out, possible migration later-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='casso.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<style>
		.topspace {
			margin-top: 40px;
		}
		#username_confirmed{
			padding-right: 40px;
		}
		</style>
	</head>
	<body>
		<div class="center" style="width:500px;height:500px;margin-top:30px;">
			<img src="{{ url_for('static', filename='logo_small.png') }}" alt="Casso Logo" style="width:200px;height:200px;">
			<h1>Sign In</h1>
			  <form method="POST" action="/example/" id="loginForm">
			    <input type="text" size="40" name="Username" id="username">
			<input type="submit" value="Login">
			</form>
		<p id="information"></p>
		</div>
		<script>
		$(document).ready(function(){
			//When the form is submitted by clicking submit
			$("#loginForm").submit(function(event){
				event.preventDefault();
				$("#information").text("Started authentication");
				$.ajax({
					type:"POST",
					url:"/demoauth",
					data:{
						username : $("#username").val(),
					},
					success:function(data){
						$("#information").text(data['status']);
						if(data['status'] == "success"){
							window.location = "/success"
						}
					}
				});
				return false;
			});
		});
		</script>
	</body>
</html>