<!DOCTYPE html>
<html>
<head>
  <title>Casso Security</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='casso.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">

  <style>
  body {
    background-color: #460000;
  }
  </style>

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Casso Security</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/example">Try it Out</a></li>
      <li><a href="/pricing">Pricing</a></li> 
      <li><a href="/contact">Contact Us</a></li> 
    </ul>
  </div>
</nav>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <img src="{{ url_for('static', filename='logo_original.png') }}" alt="Casso Logo" style="center-block;img-responsive;max-width:500px;max-height:500px">
            <h1>Make authenticating websites stronger and faster</h1>
            <h1>Link your smartphone to a website with our app</h1>
            <h1>Try it out for free</h1>
              <button class="button1" id="btn_click">View a Demo</button>
              <script>
              $('#btn_click').on('click', function() { window.location = '/example'; });
              </script>
        </div>
      </div>
    </div>
  </div>
</body>