<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Casso Security - Demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
				bootstrap code commented out, possible migration later-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='casso.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		
	</head>
	<body>
		<div class="container container-table">
		        <div class="text-center col-md-4 col-md-offset-4">
		        	<div class="center" style="width:500px;margin-top:15px;">
						<img src="{{ url_for('static', filename='logo_original.png') }}" alt="Casso Logo" style="center-block;img-responsive;max-width:300px;max-height:300px">
						<h1 style="color: black; font-size: 30px;">Successfully Logged in</h1>
					</div>
		        </div>
		</div>
	</body>
</html>